form label {
	width: 10em;
	display: inline-block;
}

form input[type="text"] {
	width: 40em;
}


.is-hidden {
	display: none;
}

.is-js-reference {
}

.is-css-reference {
}


.is-highlighted {
	background-color: Highlight;
	color: HighlightText;
}

code {
	border: 1px dotted green;
	font-family: monospace;
	background-color: gainsboro;
	color: black;
}
