<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Jenkon.Feature.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <system.diagnostics>
    <sources>
      <source name="feature" switchValue="All">
        <listeners>
          <add name="console" type="System.Diagnostics.ConsoleTraceListener"/>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <applicationSettings>
	  <Jenkon.Feature.Properties.Settings>
      <setting name="Feature_ReportService2010_ReportingService2010" serializeAs="String">
        <value>http://localhost:80/ReportServer/ReportService2010.asmx</value>
      </setting>
    </Jenkon.Feature.Properties.Settings>
  </applicationSettings>
	<appSettings>
		<add key="CliSecure" value="CliSecure.Console.exe" />
		<add key="junction" value="junction.exe" />
		<add key="xcopy" value="xcopy.exe" />
		<add key="msbuild" value="msbuild.exe" />
		<add key="cve" value="cve" />
		<add key="hg" value="hg" />
		<add key="powershell" value="powershell" />
	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
