<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Harvester.Properties.Settings.RedmineConnectionString"
            connectionString="Data Source=JIA-SQL5;Initial Catalog=RedmineReport;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>