<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NuGet.Package.Builder" version="1.0.12" targetFramework="net461" developmentDependency="true" />
  <package id="j6.BuildTools.ExternalUtilities" version="1.0.0" allowedVersions="[1.0,2.0)" targetFramework="net462" />
  <package id="j6.BuildTools.jTools.DeploymentConfiguration" version="1.0.0" allowedVersions="[1.0,2.0)" targetFramework="net462" />
  <package id="j6.BuildTools.jTools.DeploymentMsBuildTasks" version="1.0.0" allowedVersions="[1.0,2.0)" targetFramework="net462" />
  <package id="j6.BuildTools.jTools.DeploymentTool" version="1.0.0" allowedVersions="[1.0,2.0)" targetFramework="net462" />
  <package id="j6.BuildTools.jTools.Harvester" version="1.0.0" allowedVersions="[1.0,2.0)" targetFramework="net462" />
  <package id="j6.BuildTools.jTools.MsBuildTasks" version="1.0.0" allowedVersions="[1.0,2.0)" targetFramework="net462" />
  <package id="j6.BuildTools.jTools.UiUxTools" version="1.0.0" allowedVersions="[1.0,2.0)" targetFramework="net462" />
  <package id="j6.BuildTools.Scripts.Jenkins" version="1.0.0" allowedVersions="[1.0,2.0)" targetFramework="net462" />
  <package id="j6.BuildTools.Scripts.ManualPatches" version="1.0.0" allowedVersions="[1.0,2.0)" targetFramework="net462" />
  <package id="j6.BuildTools.Scripts.Powershell" version="1.0.0" allowedVersions="[1.0,2.0)" targetFramework="net462" />
</packages>