<cruisecontrol xmlns:cb="urn:ccnet.config.builder">
  
  <project name="cruisecontrol" queue="ccnet" queuePriority="5">
    <triggers>
      <intervalTrigger seconds="3600" />
    </triggers>
    <category>infrastructure</category>
    <state type="state" directory="e:\cruisecontrol\state" />
    <workingDirectory>e:\cruisecontrol\working</workingDirectory>
    <artifactDirectory>e:\cruisecontrol\artifacts\cruisecontrol</artifactDirectory>
    <sourcecontrol type="svn">
      <trunkUrl>http://source.jenkon.com/svn/build/config/cruisecontrol/finch</trunkUrl>
      <workingDirectory>C:\Program Files\CruiseControl.NET\server</workingDirectory>
      <username>build</username>
      <password>build</password>
      <autoGetSource>true</autoGetSource>
    </sourcecontrol>
  </project>
  
  <project name="buildscripts" queue="ccnet" queuePriority="5">
    <triggers>
      <intervalTrigger seconds="5" />
    </triggers>
    <category>infrastructure</category>
    <state type="state" directory="e:\cruisecontrol\state" />
    <workingDirectory>e:\cruisecontrol\working</workingDirectory>
    <artifactDirectory>e:\cruisecontrol\artifacts\buildscripts</artifactDirectory>
    <sourcecontrol type="svn">
      <trunkUrl>http://source.jenkon.com/svn/build</trunkUrl>
      <workingDirectory>E:\build</workingDirectory>
      <username>build</username>
      <password>build</password>
      <autoGetSource>true</autoGetSource>
    </sourcecontrol>
  </project>
  
  <project name="SPRINT-FEATURE-build" queue="SPRINT-FEATURE" queuePriority="2">
	<triggers>
    	<intervalTrigger seconds="3600" buildCondition="ForceBuild"/>
    </triggers>
    <category>development</category>
    <state type="state" directory="e:\cruisecontrol\state" />
    <workingDirectory>e:\cruisecontrol\working\SPRINT-FEATURE</workingDirectory>
    <artifactDirectory>e:\cruisecontrol\artifacts\SPRINT-FEATURE</artifactDirectory>
    <tasks>
      <exec>
        <buildTimeoutSeconds>4800</buildTimeoutSeconds>
        <executable>e:\build\j6.cmd</executable>
        <buildArgs>featurebuild SPRINT-FEATURE -2008</buildArgs>
        <baseDirectory>e:\builds\j6</baseDirectory>
		<successExitCodes>0</successExitCodes>
      </exec>
    </tasks>
    <publishers>
      <merge>
        <files>
          <file>e:\builds\j6\SPRINT-FEATURE\build-logs\*.*</file>
        </files>
      </merge>
      <xmllogger />
    </publishers>
  </project>
  
  <project name="SPRINT-FEATURE-deploy" queue="SPRINT-FEATURE" queuePriority="3">
    <triggers>
      <projectTrigger project="SPRINT-FEATURE-build" />
    </triggers>
    <category>development</category>
    <state type="state" directory="e:\cruisecontrol\state" />
    <workingDirectory>e:\cruisecontrol\working\SPRINT-FEATURE-deploy</workingDirectory>
    <artifactDirectory>e:\cruisecontrol\artifacts\SPRINT-FEATURE-deploy</artifactDirectory>
    <tasks>
      <exec>
        <buildTimeoutSeconds>4800</buildTimeoutSeconds>
        <executable>e:\build\j6.cmd</executable>
        <buildArgs>featuredeploy SPRINT-FEATURE -2008</buildArgs>
        <baseDirectory>e:\builds\j6</baseDirectory>
		<successExitCodes>0</successExitCodes>
      </exec>
    </tasks>
    <publishers>
      <merge>
        <files>
          <file>e:\builds\j6\SPRINT-FEATURE\deploy-logs\*.*</file>
        </files>
      </merge>
      <xmllogger />
    </publishers>
  </project>

  <project name="SPRINTQA-FEATURE-build" queue="SPRINTQA-FEATURE" queuePriority="2">
    <triggers>
      <scheduleTrigger time="01:00" buildCondition="ForceBuild"/>
    </triggers>
    <category>development</category>
    <state type="state" directory="e:\cruisecontrol\state" />
    <workingDirectory>e:\cruisecontrol\working\SPRINTQA-FEATURE</workingDirectory>
    <artifactDirectory>e:\cruisecontrol\artifacts\SPRINTQA-FEATURE</artifactDirectory>
    <tasks>
      <exec>
        <buildTimeoutSeconds>4800</buildTimeoutSeconds>
        <executable>e:\build\j6.cmd</executable>
        <buildArgs>featurebuild SPRINTQA-FEATURE -2008</buildArgs>
        <baseDirectory>e:\builds\j6</baseDirectory>
		<successExitCodes>0</successExitCodes>
      </exec>
    </tasks>
    <publishers>
      <merge>
        <files>
          <file>e:\builds\j6\SPRINTQA-FEATURE\build-logs\*.*</file>
        </files>
      </merge>
      <xmllogger />
    </publishers>
  </project>

  <project name="SPRINTQA-FEATURE-deploy" queue="SPRINTQA-FEATURE" queuePriority="1">
    <triggers>
      <projectTrigger project="SPRINTQA-FEATURE-build" />
    </triggers>
    <category>development</category>
    <state type="state" directory="e:\cruisecontrol\state" />
    <workingDirectory>e:\cruisecontrol\working\SPRINTQA-FEATURE-deploy</workingDirectory>
    <artifactDirectory>e:\cruisecontrol\artifacts\SPRINTQA-FEATURE-deploy</artifactDirectory>
	<prebuild>
		<exec>
			<buildTimeoutSeconds>180</buildTimeoutSeconds>
			<executable>sc.exe</executable>
			<buildArgs>\\sparrow stop "RTQ(SPRINT-QAF)"</buildArgs>
			<baseDirectory>e:\builds\j6\SPRINTQA-FEATURE</baseDirectory>
			<successExitCodes>0</successExitCodes>
		</exec>
	</prebuild>
    <tasks>
      <exec>
        <buildTimeoutSeconds>4800</buildTimeoutSeconds>
        <executable>e:\build\j6.cmd</executable>
        <buildArgs>featuredeploy SPRINTQA-FEATURE -2008</buildArgs>
        <baseDirectory>e:\builds\j6</baseDirectory>
		<successExitCodes>0</successExitCodes>
      </exec>
    </tasks>
    <publishers>
      <merge>
        <files>
          <file>e:\builds\j6\SPRINTQA-FEATURE\deploy-logs\*.*</file>
        </files>
      </merge>
      <xmllogger />
    </publishers>
  </project>
    
  <project name="RYANQA-FEATURE-build" queue="RYANQA-FEATURE" queuePriority="1">
    <triggers>
      <scheduleTrigger time="01:30" buildCondition="ForceBuild"/>
    </triggers>
    <category>development</category>
    <state type="state" directory="e:\cruisecontrol\state" />
    <workingDirectory>e:\cruisecontrol\working\RYANQA-FEATURE</workingDirectory>
    <artifactDirectory>e:\cruisecontrol\artifacts\RYANQA-FEATURE</artifactDirectory>
    <tasks>
      <exec>
        <buildTimeoutSeconds>4800</buildTimeoutSeconds>
        <executable>e:\build\j6.cmd</executable>
        <buildArgs>featurebuild RYANQA-FEATURE -2008</buildArgs>
        <baseDirectory>e:\builds\j6</baseDirectory>
		<successExitCodes>0</successExitCodes>
      </exec>
    </tasks>
    <publishers>
      <merge>
        <files>
          <file>e:\builds\j6\RYANQA-FEATURE\build-logs\*.*</file>
        </files>
      </merge>
      <xmllogger />
    </publishers>
  </project>
  
  <project name="RYANQA-FEATURE-deploy" queue="RYANQA-FEATURE" queuePriority="2">
    <triggers>
      <projectTrigger project="RYANQA-FEATURE-build" />
    </triggers>
    <category>development</category>
    <state type="state" directory="e:\cruisecontrol\state" />
    <workingDirectory>e:\cruisecontrol\working\RYANQA-FEATURE-deploy</workingDirectory>
    <artifactDirectory>e:\cruisecontrol\artifacts\RYANQA-FEATURE-deploy</artifactDirectory>
	<prebuild>
		<exec>
			<buildTimeoutSeconds>180</buildTimeoutSeconds>
			<executable>sc.exe</executable>
			<buildArgs>\\sparrow stop "RTQ(RYAN-QAF)"</buildArgs>
			<baseDirectory>e:\builds\j6\RYANQA-FEATURE</baseDirectory>
			<successExitCodes>0</successExitCodes>
		</exec>
	</prebuild>
    <tasks>
      <exec>
        <buildTimeoutSeconds>4800</buildTimeoutSeconds>
        <executable>e:\build\j6.cmd</executable>
        <buildArgs>featuredeploy RYANQA-FEATURE -2008</buildArgs>
        <baseDirectory>e:\builds\j6</baseDirectory>
		<successExitCodes>0</successExitCodes>
      </exec>
    </tasks>
    <publishers>
      <merge>
        <files>
          <file>e:\builds\j6\RYANQA-FEATURE\deploy-logs\*.*</file>
        </files>
      </merge>
      <xmllogger />
    </publishers>
  </project>

  <project name="GLENN-QA-build" queue="GLENN-QA" queuePriority="2">
    <triggers>
      <scheduleTrigger time="03:05" buildCondition="ForceBuild"/>
    </triggers>
    <category>development</category>
    <state type="state" directory="e:\cruisecontrol\state" />
    <workingDirectory>e:\cruisecontrol\working\GLENN-QA</workingDirectory>
    <artifactDirectory>e:\cruisecontrol\artifacts\GLENN-QA</artifactDirectory>
    <tasks>
      <exec>
        <buildTimeoutSeconds>4800</buildTimeoutSeconds>
        <executable>e:\build\j6.cmd</executable>
        <buildArgs>featurebuild GLENN-QA -2008</buildArgs>
        <baseDirectory>e:\builds\j6</baseDirectory>
		<successExitCodes>0</successExitCodes>
      </exec>
    </tasks>
    <publishers>
      <merge>
        <files>
          <file>e:\builds\j6\GLENN-QA\build-logs\*.*</file>
        </files>
      </merge>
      <xmllogger />
    </publishers>
  </project>

  <project name="GLENN-QA-deploy" queue="GLENN-QA" queuePriority="1">
    <triggers>
      <projectTrigger project="GLENN-QA-build" />
    </triggers>
    <category>development</category>
    <state type="state" directory="e:\cruisecontrol\state" />
    <workingDirectory>e:\cruisecontrol\working\GLENN-QA-deploy</workingDirectory>
    <artifactDirectory>e:\cruisecontrol\artifacts\GLENN-QA-deploy</artifactDirectory>
    <prebuild>
		<exec>
			<buildTimeoutSeconds>180</buildTimeoutSeconds>
			<executable>sc.exe</executable>
			<buildArgs>\\sparrow stop "RTQ (GLENN-QA)"</buildArgs>
			<baseDirectory>e:\builds\j6\GLENN-QA</baseDirectory>
			<successExitCodes>0</successExitCodes>
		</exec>
	</prebuild>
	<tasks>
      <exec>
        <buildTimeoutSeconds>4800</buildTimeoutSeconds>
        <executable>e:\build\j6.cmd</executable>
        <buildArgs>featuredeploy GLENN-QA -2008</buildArgs>
        <baseDirectory>e:\builds\j6</baseDirectory>
		<successExitCodes>0</successExitCodes>
      </exec>
    </tasks>
    <publishers>
      <merge>
        <files>
          <file>e:\builds\j6\GLENN-QA\deploy-logs\*.*</file>
        </files>
      </merge>
      <xmllogger />
    </publishers>
  </project>
  
  <project name="FRANK-QA-build" queue="FRANK-QA" queuePriority="2">
    <triggers>
      <scheduleTrigger time="02:15" buildCondition="ForceBuild"/>
    </triggers>
    <category>development</category>
    <state type="state" directory="e:\cruisecontrol\state" />
    <workingDirectory>e:\cruisecontrol\working\FRANK-QA</workingDirectory>
    <artifactDirectory>e:\cruisecontrol\artifacts\FRANK-QA</artifactDirectory>
    <tasks>
      <exec>
        <buildTimeoutSeconds>4800</buildTimeoutSeconds>
        <executable>e:\build\j6.cmd</executable>
        <buildArgs>featurebuild FRANK-QA -2008</buildArgs>
        <baseDirectory>e:\builds\j6</baseDirectory>
		<successExitCodes>0</successExitCodes>
      </exec>
    </tasks>
    <publishers>
      <merge>
        <files>
          <file>e:\builds\j6\FRANK-QA\build-logs\*.*</file>
        </files>
      </merge>
      <xmllogger />
    </publishers>
  </project>

  <project name="FRANK-QA-deploy" queue="FRANK-QA" queuePriority="1">
    <triggers>
      <projectTrigger project="FRANK-QA-build" />
    </triggers>
    <category>development</category>
    <state type="state" directory="e:\cruisecontrol\state" />
    <workingDirectory>e:\cruisecontrol\working\FRANK-QA-deploy</workingDirectory>
    <artifactDirectory>e:\cruisecontrol\artifacts\FRANK-QA-deploy</artifactDirectory>
    <prebuild>
		<exec>
			<buildTimeoutSeconds>180</buildTimeoutSeconds>
			<executable>sc.exe</executable>
			<buildArgs>\\sparrow stop "RTQ (FRANK-QA)"</buildArgs>
			<baseDirectory>e:\builds\j6\FRANK-QA</baseDirectory>
			<successExitCodes>0</successExitCodes>
		</exec>
	</prebuild>
	<tasks>
      <exec>
        <buildTimeoutSeconds>4800</buildTimeoutSeconds>
        <executable>e:\build\j6.cmd</executable>
        <buildArgs>featuredeploy FRANK-QA -2008</buildArgs>
        <baseDirectory>e:\builds\j6</baseDirectory>
		<successExitCodes>0</successExitCodes>
      </exec>
    </tasks>
    <publishers>
      <merge>
        <files>
          <file>e:\builds\j6\FRANK-QA\deploy-logs\*.*</file>
        </files>
      </merge>
      <xmllogger />
    </publishers>
  </project>
  
  
  <project name="LARGEQA-FEATURE-build" queue="LARGEQA-FEATURE" queuePriority="2">
    <triggers>
    	<scheduleTrigger time="03:30" buildCondition="ForceBuild"/>
    </triggers>
    <category>development</category>
    <state type="state" directory="e:\cruisecontrol\state" />
    <workingDirectory>e:\cruisecontrol\working\LARGEQA-FEATURE</workingDirectory>
    <artifactDirectory>e:\cruisecontrol\artifacts\LARGEQA-FEATURE</artifactDirectory>
    <tasks>
      <exec>
        <buildTimeoutSeconds>4800</buildTimeoutSeconds>
        <executable>e:\build\j6.cmd</executable>
        <buildArgs>featurebuild LARGEQA-FEATURE -2008</buildArgs>
        <baseDirectory>e:\builds\j6</baseDirectory>
		<successExitCodes>0</successExitCodes>
      </exec>
    </tasks>
    <publishers>
      <merge>
        <files>
          <file>e:\builds\j6\LARGEQA-FEATURE\build-logs\*.*</file>
        </files>
      </merge>
      <xmllogger />
    </publishers>
  </project>
  
  <project name="LARGEQA-FEATURE-deploy" queue="LARGEQA-FEATURE" queuePriority="1">
    <triggers>
      <projectTrigger project="LARGEQA-FEATURE-build" />
    </triggers>
    <category>development</category>
    <state type="state" directory="e:\cruisecontrol\state" />
    <workingDirectory>e:\cruisecontrol\working\LARGEQA-FEATURE-deploy</workingDirectory>
    <artifactDirectory>e:\cruisecontrol\artifacts\LARGEQA-FEATURE-deploy</artifactDirectory>
	<tasks>
      <exec>
        <buildTimeoutSeconds>4800</buildTimeoutSeconds>
        <executable>e:\build\j6.cmd</executable>
        <buildArgs>featuredeploy LARGEQA-FEATURE -2008</buildArgs>
        <baseDirectory>e:\builds\j6</baseDirectory>
		<successExitCodes>0</successExitCodes>
      </exec>
    </tasks>
    <publishers>
      <merge>
        <files>
          <file>e:\builds\j6\LARGEQA-FEATURE\deploy-logs\*.*</file>
        </files>
      </merge>
      <xmllogger />
    </publishers>
  </project>
  
  <project name="RELEASE-QA-build" queue="RELEASE-QA" queuePriority="2">
    <triggers>
      <scheduleTrigger time="04:30" buildCondition="ForceBuild"/>
    </triggers>
    <category>development</category>
    <state type="state" directory="e:\cruisecontrol\state" />
    <workingDirectory>e:\cruisecontrol\working\RELEASE-QA</workingDirectory>
    <artifactDirectory>e:\cruisecontrol\artifacts\RELEASE-QA</artifactDirectory>
    <tasks>
      <exec>
        <buildTimeoutSeconds>4800</buildTimeoutSeconds>
        <executable>e:\build\j6.cmd</executable>
        <buildArgs>featurebuild RELEASE-QA -2008</buildArgs>
        <baseDirectory>e:\builds\j6</baseDirectory>
		<successExitCodes>0</successExitCodes>
      </exec>
    </tasks>
    <publishers>
      <merge>
        <files>
          <file>e:\builds\j6\RELEASE-QA\build-logs\*.*</file>
        </files>
      </merge>
      <xmllogger />
    </publishers>
  </project>

  <project name="RELEASE-QA-deploy" queue="RELEASE-QA" queuePriority="1">
    <triggers>
      <projectTrigger project="RELEASE-QA-build" />
    </triggers>
    <category>development</category>
    <state type="state" directory="e:\cruisecontrol\state" />
    <workingDirectory>e:\cruisecontrol\working\RELEASE-QA-deploy</workingDirectory>
    <artifactDirectory>e:\cruisecontrol\artifacts\RELEASE-QA-deploy</artifactDirectory>
    <prebuild>
		<exec>
			<buildTimeoutSeconds>180</buildTimeoutSeconds>
			<executable>sc.exe</executable>
			<buildArgs>\\sparrow stop "RTQ (RELEASE-QA)"</buildArgs>
			<baseDirectory>e:\builds\j6\RELEASE-QA</baseDirectory>
			<successExitCodes>0</successExitCodes>
		</exec>
	</prebuild>
	<tasks>
      <exec>
        <buildTimeoutSeconds>4800</buildTimeoutSeconds>
        <executable>e:\build\j6.cmd</executable>
        <buildArgs>featuredeploy RELEASE-QA -2008</buildArgs>
        <baseDirectory>e:\builds\j6</baseDirectory>
		<successExitCodes>0</successExitCodes>
      </exec>
    </tasks>
    <publishers>
      <merge>
        <files>
          <file>e:\builds\j6\RELEASE-QA\deploy-logs\*.*</file>
        </files>
      </merge>
      <xmllogger />
    </publishers>
  </project>
  
  <project name="UI-TESTS-build" queue="UI-TESTS" queuePriority="1">
    <triggers>
      <scheduleTrigger time="21:00" buildCondition="ForceBuild"/>
    </triggers>
    <category>development</category>
    <state type="state" directory="e:\cruisecontrol\state" />
    <workingDirectory>e:\cruisecontrol\working\UI-TESTS</workingDirectory>
    <artifactDirectory>e:\cruisecontrol\artifacts\UI-TESTS</artifactDirectory>
	<tasks>
      <exec>
        <buildTimeoutSeconds>4800</buildTimeoutSeconds>
        <executable>e:\build\j6.cmd</executable>
        <buildArgs>featurebuild UI-TESTS -2008</buildArgs>
        <baseDirectory>e:\builds\j6</baseDirectory>
		<successExitCodes>0</successExitCodes>
      </exec>
    </tasks>
    <publishers>
      <merge>
        <files>
          <file>e:\builds\j6\UI-TESTS\build-logs\*.*</file>
        </files>
      </merge>
      <xmllogger />
    </publishers>
  </project>

  <project name="UI-TESTS-deploy" queue="UI-TESTS" queuePriority="2">
    <triggers>
      <projectTrigger project="UI-TESTS-build" />
    </triggers>
    <category>development</category>
    <state type="state" directory="e:\cruisecontrol\state" />
    <workingDirectory>e:\cruisecontrol\working\UI-TESTS-deploy</workingDirectory>
    <artifactDirectory>e:\cruisecontrol\artifacts\UI-TESTS-deploy</artifactDirectory>
	<prebuild>
		<exec>
			<buildTimeoutSeconds>180</buildTimeoutSeconds>
			<executable>sc.exe</executable>
			<buildArgs>\\sparrow stop "RTQ (UI-TESTS)"</buildArgs>
			<baseDirectory>e:\builds\j6\UI-TESTS</baseDirectory>
			<successExitCodes>0</successExitCodes>
		</exec>
		<exec>
        <buildTimeoutSeconds>1200</buildTimeoutSeconds>
        <executable>e:\build\RestoreDB</executable>
        <buildArgs>starling ccnet-J6-UITESTS-release "\\starling\Other Backups\j6-uitests.bak"</buildArgs>
        <baseDirectory>e:\builds\j6\UI-TESTS</baseDirectory>
		<successExitCodes>0</successExitCodes>
      </exec>
	</prebuild>
    <tasks>
      <exec>
        <buildTimeoutSeconds>4800</buildTimeoutSeconds>
        <executable>e:\build\j6.cmd</executable>
        <buildArgs>featuredeploy UI-TESTS -2008</buildArgs>
        <baseDirectory>e:\builds\j6</baseDirectory>
		<successExitCodes>0</successExitCodes>
      </exec>
    </tasks>
    <publishers>
      <merge>
        <files>
          <file>e:\builds\j6\UI-TESTS\deploy-logs\*.*</file>
        </files>
      </merge>
      <xmllogger />
    </publishers>
  </project>
  
   <!-- Automation Tests-->
  <project name="UIAutomationTests" queue="UI-TESTS" queuePriority="4">
    <triggers>
      <projectTrigger project="WebServiceTests" />
    </triggers>
    <category>development</category>
    <state type="state" directory="e:\cruisecontrol\state" />
    <workingDirectory>e:\cruisecontrol\working\AutomationTests</workingDirectory>
    <artifactDirectory>e:\cruisecontrol\artifacts\AutomationTests</artifactDirectory>
    <tasks>
	  <exec>
	    <executable>powershell</executable>
		<buildArgs>E:\build\scripts\Set-FormsAuth UI-TESTS</buildArgs>
	  </exec>
      <exec>
        <buildTimeoutSeconds>4800</buildTimeoutSeconds>
        <executable>C:\Program Files\NUnit 2.4.8\bin\nunit-console.exe</executable>
		<baseDirectory>E:\TestResults\AutomationTests</baseDirectory>
        <buildArgs>E:\builds\j6\UI-TESTS\Test\Private\Assembly\AutomationTests.Employee.webtests.dll /xml=AutomationTest-Results.xml</buildArgs>
		<successExitCodes>0</successExitCodes>
      </exec>
    </tasks>
    <publishers>
      <merge>
        <files>
		  <file>e:\TestResults\AutomationTests\AutomationTest-Results.xml</file>
        </files>
      </merge>
      <xmllogger logDir="e:\cruisecontrol\buildlogs" />
    </publishers>
  </project>
  
  <!-- Web Service Tests-->
  <project name="WebServiceTests" queue="UI-TESTS" queuePriority="5">
    <triggers>
      <projectTrigger project="UI-TESTS-deploy" />
    </triggers>
    <category>development</category>
    <state type="state" directory="e:\cruisecontrol\state" />
    <workingDirectory>e:\cruisecontrol\working\WebServiceTests</workingDirectory>
    <artifactDirectory>e:\cruisecontrol\artifacts\WebServiceTests</artifactDirectory>
    <tasks>
      <exec>
        <buildTimeoutSeconds>4800</buildTimeoutSeconds>
        <executable>C:\Program Files\NUnit 2.4.8\bin\nunit-console.exe</executable>
		<baseDirectory>E:\TestResults\WebServiceTests</baseDirectory>
        <buildArgs>E:\builds\j6\UI-TESTS\Test\Private\Assembly\Jenkon.J6.WebServiceTests.dll 
			E:\builds\j6\UI-TESTS\Genealogy\Private\Assembly\J6.Genealogy.WebServiceTests.dll 
			E:\builds\j6\UI-TESTS\Core\Private\Assembly\J6.Core.WebServiceTests.dll 
			E:\builds\j6\UI-TESTS\SalesOrder\Private\Assembly\J6.SalesOrder.WebServiceTests.dll 
			/xml=WebServiceTest-Results.xml
		</buildArgs>
		<successExitCodes>0</successExitCodes>
      </exec>
    </tasks>
    <publishers>
      <merge>
        <files>
		  <file>e:\TestResults\WebServiceTests\WebServiceTest-Results.xml</file>
        </files>
      </merge>
      <xmllogger logDir="e:\cruisecontrol\buildlogs" />
    </publishers>
  </project>
  
   <!-- 
    SPRINT-QA
  -->
  <project name="SPRINT-QA" queue="SPRINTQA" queuePriority="10">
    <triggers>
      <scheduleTrigger time="00:30" buildCondition="ForceBuild"/>
    </triggers>
    <category>development</category>
    <state type="state" directory="e:\cruisecontrol\state" />
    <workingDirectory>e:\cruisecontrol\working\sprint-qa</workingDirectory>
    <artifactDirectory>e:\cruisecontrol\artifacts\sprint-qa</artifactDirectory>
    <sourcecontrol type="svn">
      <trunkUrl>http://source.jenkon.com/svn/branches/sprint25</trunkUrl>
      <workingDirectory>e:\builds\j6</workingDirectory>
      <username>build</username>
      <password>build</password>
      <autoGetSource>false</autoGetSource>
    </sourcecontrol>
    <tasks>
      <exec>
        <buildTimeoutSeconds>4800</buildTimeoutSeconds>
        <executable>e:\build\j6.cmd</executable>
        <buildArgs>build SPRINT-QA -2008</buildArgs>
        <baseDirectory>e:\builds\j6</baseDirectory>
      </exec>
    </tasks>
    <publishers>
      <merge>
        <files>
          <file>e:\builds\j6\sprint-qa\build-logs\*.*</file>
        </files>
      </merge>
      <xmllogger />
    </publishers>
  </project>
  <!--
    SPRINT-QA-deploy
  -->
  <project name="SPRINT-QA-deploy" queue="SPRINTQA" queuePriority="1">
    <triggers>
      <projectTrigger project="SPRINT-QA" />
    </triggers>
    <category>development</category>
    <state type="state" directory="e:\cruisecontrol\state" />
    <workingDirectory>e:\cruisecontrol\working\sprint-qa</workingDirectory>
    <artifactDirectory>e:\cruisecontrol\artifacts\sprint-qa-deploy</artifactDirectory>
    <tasks>
      <exec>
        <buildTimeoutSeconds>4800</buildTimeoutSeconds>
        <executable>e:\build\j6.cmd</executable>
        <buildArgs>deploy SPRINT-QA -2008</buildArgs>
        <baseDirectory>e:\builds\j6</baseDirectory>
      </exec>
    </tasks>
  </project>
     
  <project name="SPRINT-tests" queue="SPRINT-FEATURE" queuePriority="1">
    <triggers>
      <projectTrigger project="SPRINT-FEATURE-build" />
    </triggers>
    <category>development</category>
    <state type="state" directory="e:\cruisecontrol\state" />
    <workingDirectory>e:\cruisecontrol\working\sprint</workingDirectory>
    <artifactDirectory>e:\cruisecontrol\artifacts\sprint-tests</artifactDirectory>
    <tasks>
      <exec>
        <buildTimeoutSeconds>7200</buildTimeoutSeconds>
        <executable>e:\build\j6.cmd</executable>
        <buildArgs>featuretests SPRINT-FEATURE -2008</buildArgs>
        <baseDirectory>e:\builds\j6</baseDirectory>
      </exec>
    </tasks>
	<publishers>
		<merge>
			<files>
				<file>E:\builds\j6\SPRINT-FEATURE\TestResult\*.xml</file>
			</files>
		</merge>
		<xmllogger logDir="C:\Program Files\CruiseControl.NET\server" />
	</publishers>
  </project>

  <project name="ARCH-build" queue="ARCH" queuePriority="2">
	<triggers>
    	<intervalTrigger seconds="3600" buildCondition="ForceBuild"/>
    </triggers>
    <category>development</category>
    <state type="state" directory="e:\cruisecontrol\state" />
    <workingDirectory>e:\cruisecontrol\working\ARCH</workingDirectory>
    <artifactDirectory>e:\cruisecontrol\artifacts\ARCH</artifactDirectory>
    <tasks>
      <exec>
        <buildTimeoutSeconds>4800</buildTimeoutSeconds>
        <executable>e:\build\j6.cmd</executable>
        <buildArgs>featurebuild ARCH -2008</buildArgs>
        <baseDirectory>e:\builds\j6</baseDirectory>
		<successExitCodes>0</successExitCodes>
      </exec>
    </tasks>
    <publishers>
      <merge>
        <files>
          <file>e:\builds\j6\ARCH\build-logs\*.*</file>
        </files>
      </merge>
      <xmllogger />
    </publishers>
  </project>
  
</cruisecontrol>