<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
	<appSettings>
		<add key="ConfigFile" value="C:\build\Code\j6SentinelService\j6SentinelConsole\bin\Debug\config.xml"/>
	</appSettings>
	<system.diagnostics>
		<trace>
			<listeners>
				<add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="C:\build\Code\j6SentinelService\j6SentinelService\bin\Debug\TextWriterOutput.log" />
			</listeners>
		</trace>
	</system.diagnostics>
	<system.serviceModel>
		<bindings>
			<customBinding>
				<binding name="CustomBinding_IYanbalIntegrationService">
					<textMessageEncoding messageVersion="Soap12" />
					<httpsTransport />
				</binding>
			</customBinding>
		</bindings>
		<client>
			<endpoint address="http://yanbalbolivia.com/Integration/YanbalIntegrationService.svc"
                binding="customBinding" bindingConfiguration="CustomBinding_IYanbalIntegrationService"
                contract="YanbalIntegrationService.IYanbalIntegrationService"
                name="CustomBinding_IYanbalIntegrationService" />
		</client>
	</system.serviceModel>
</configuration>