<?xml version="1.0"?>
<cruisecontrol>
  <!-- 


    cruisecontrol
  -->
  <project name="cruisecontrol" queue="ccnet" queuePriority="5">
    <triggers>
      <intervalTrigger seconds="5" />
    </triggers>
    <category>infrastructure</category>
    <state type="state" directory="d:\cruisecontrol\state" />
    <workingDirectory>d:\cruisecontrol\working</workingDirectory>
    <artifactDirectory>d:\cruisecontrol\artifacts\cruisecontrol</artifactDirectory>
    <sourcecontrol type="svn">
      <trunkUrl>http://source.jenkon.com/svn/build/config/cruisecontrol/bubba</trunkUrl>
      <workingDirectory>C:\Program Files (x86)\CruiseControl.NET\server\config</workingDirectory>
      <username>build</username>
      <password>build</password>
      <autoGetSource>true</autoGetSource>
    </sourcecontrol>
  </project>
  <!-- 


    buildscripts
  -->
  <project name="buildscripts" queue="ccnet" queuePriority="5">
    <triggers>
      <intervalTrigger seconds="5" />
    </triggers>
    <category>infrastructure</category>
    <state type="state" directory="d:\cruisecontrol\state" />
    <workingDirectory>d:\cruisecontrol\working</workingDirectory>
    <artifactDirectory>d:\cruisecontrol\artifacts\buildscripts</artifactDirectory>
    <sourcecontrol type="svn">
      <trunkUrl>http://source.jenkon.com/svn/build</trunkUrl>
      <workingDirectory>D:\build</workingDirectory>
      <username>build</username>
      <password>build</password>
      <autoGetSource>true</autoGetSource>
    </sourcecontrol>
  </project>
 
  <!-- 
  

    CUST056
  -->
  <project name="CUST056" queue="SPRINT" queuePriority="30">
	<triggers>
		<multiTrigger>
			<triggers>
				<intervalTrigger seconds="900" />
				<projectTrigger project="buildscripts" />
			</triggers>
		</multiTrigger>
	</triggers>
    <category>development</category>
    <state type="state" directory="d:\cruisecontrol\state" />
    <workingDirectory>d:\cruisecontrol\working\CUST056</workingDirectory>
    <artifactDirectory>d:\cruisecontrol\artifacts\CUST056</artifactDirectory>
    <sourcecontrol type="svn">
      <trunkUrl>http://source.jenkon.com/svn/branches/releases-j6/7.0.8</trunkUrl>
      <workingDirectory>d:\builds\j6</workingDirectory>
      <username>build</username>
      <password>build</password>
      <autoGetSource>false</autoGetSource>
    </sourcecontrol>
    <tasks>
      <exec>
        <buildTimeoutSeconds>4800</buildTimeoutSeconds>
        <executable>d:\build\j6.cmd</executable>
        <buildArgs>build CUST056 -2008</buildArgs>
        <baseDirectory>d:\builds\j6</baseDirectory>
      </exec>
    </tasks>
    <publishers>
      <merge>
        <files>
          <file>d:\builds\j6\CUST056\build-logs\*.*</file>
        </files>
      </merge>
      <xmllogger />
    </publishers>
  </project>
  <!--


    CUST056-tests
  -->
  <project name="CUST056-tests" queue="SPRINT" queuePriority="25">
    <triggers>
      <projectTrigger project="CUST056" />
    </triggers>
    <category>development</category>
    <state type="state" directory="d:\cruisecontrol\state" />
    <workingDirectory>d:\cruisecontrol\working\CUST056</workingDirectory>
    <artifactDirectory>d:\cruisecontrol\artifacts\CUST056-tests</artifactDirectory>
    <tasks>
      <exec>
        <buildTimeoutSeconds>4800</buildTimeoutSeconds>
        <executable>d:\build\j6.cmd</executable>
        <buildArgs>tests CUST056 -2008</buildArgs>
        <baseDirectory>d:\builds\j6</baseDirectory>
      </exec>
    </tasks>
  </project>
  <!-- 
  

    IH00016 (7.0.9)
  -->
  <project name="7.0.9-IH00016" queue="SPRINT" queuePriority="30">
	<triggers>
		<multiTrigger>
			<triggers>
				<intervalTrigger seconds="900" />
				<projectTrigger project="buildscripts" />
			</triggers>
		</multiTrigger>
	</triggers>
	<category>development</category>
    <state type="state" directory="d:\cruisecontrol\state" />
    <workingDirectory>d:\cruisecontrol\working\IH00016</workingDirectory>
    <artifactDirectory>d:\cruisecontrol\artifacts\IH00016</artifactDirectory>
    <sourcecontrol type="svn">
      <trunkUrl>http://source.jenkon.com/svn/branches/releases-j6/7.0.9</trunkUrl>
      <workingDirectory>d:\builds\j6</workingDirectory>
      <username>build</username>
      <password>build</password>
      <autoGetSource>false</autoGetSource>
    </sourcecontrol>
    <tasks>
      <exec>
        <buildTimeoutSeconds>4800</buildTimeoutSeconds>
        <executable>d:\build\j6.cmd</executable>
        <buildArgs>build IH00016 -2008</buildArgs>
        <baseDirectory>d:\builds\j6</baseDirectory>
      </exec>
    </tasks>
    <publishers>
      <merge>
        <files>
          <file>d:\builds\j6\IH00016\build-logs\*.*</file>
        </files>
      </merge>
      <xmllogger />
    </publishers>
  </project>
  <!--


    IH00016-tests (7.0.9)
  -->
  <project name="7.0.9-IH00016-tests" queue="SPRINT" queuePriority="25">
    <triggers>
      <projectTrigger project="7.0.9-IH00016" />
    </triggers>
    <category>development</category>
    <state type="state" directory="d:\cruisecontrol\state" />
    <workingDirectory>d:\cruisecontrol\working\IH00016</workingDirectory>
    <artifactDirectory>d:\cruisecontrol\artifacts\IH00016-tests</artifactDirectory>
    <tasks>
      <exec>
        <buildTimeoutSeconds>4800</buildTimeoutSeconds>
        <executable>d:\build\j6.cmd</executable>
        <buildArgs>tests IH00016 -2008</buildArgs>
        <baseDirectory>d:\builds\j6</baseDirectory>
      </exec>
    </tasks>
  </project>

	<!-- 
  

    CUST067 (7.0.9)
  -->
	<project name="7.0.9-CUST067" queue="SPRINT" queuePriority="30">
		<triggers>
			<multiTrigger>
				<triggers>
					<intervalTrigger seconds="900" />
					<projectTrigger project="buildscripts" />
				</triggers>
			</multiTrigger>
		</triggers>
		<category>development</category>
		<state type="state" directory="d:\cruisecontrol\state" />
		<workingDirectory>d:\cruisecontrol\working\CUST067</workingDirectory>
		<artifactDirectory>d:\cruisecontrol\artifacts\CUST067</artifactDirectory>
		<sourcecontrol type="svn">
			<trunkUrl>http://source.jenkon.com/svn/branches/releases-j6/7.0.9</trunkUrl>
			<workingDirectory>d:\builds\j6</workingDirectory>
			<username>build</username>
			<password>build</password>
			<autoGetSource>false</autoGetSource>
		</sourcecontrol>
		<tasks>
			<exec>
				<buildTimeoutSeconds>4800</buildTimeoutSeconds>
				<executable>d:\build\j6.cmd</executable>
				<buildArgs>build CUST067 -2008</buildArgs>
				<baseDirectory>d:\builds\j6</baseDirectory>
			</exec>
		</tasks>
		<publishers>
			<merge>
				<files>
					<file>d:\builds\j6\CUST067\build-logs\*.*</file>
				</files>
			</merge>
			<xmllogger />
		</publishers>
	</project>
	<!--


    CUST067-tests (7.0.9)
  -->
	<project name="7.0.9-CUST067-tests" queue="SPRINT" queuePriority="25">
		<triggers>
			<projectTrigger project="7.0.9-CUST067" />
		</triggers>
		<category>development</category>
		<state type="state" directory="d:\cruisecontrol\state" />
		<workingDirectory>d:\cruisecontrol\working\CUST067</workingDirectory>
		<artifactDirectory>d:\cruisecontrol\artifacts\CUST067-tests</artifactDirectory>
		<tasks>
			<exec>
				<buildTimeoutSeconds>4800</buildTimeoutSeconds>
				<executable>d:\build\j6.cmd</executable>
				<buildArgs>tests CUST067 -2008</buildArgs>
				<baseDirectory>d:\builds\j6</baseDirectory>
			</exec>
		</tasks>
	</project>
	<!-- vim:se ft=xml: -->


<!-- 
  
	Essen 
    CUST068 (7.0.9)
  -->
<project name="7.0.9-CUST068" queue="SPRINT" queuePriority="30">
	<triggers>
		<multiTrigger>
			<triggers>
				<intervalTrigger seconds="900" />
				<projectTrigger project="buildscripts" />
			</triggers>
		</multiTrigger>
	</triggers>
	<category>development</category>
	<state type="state" directory="d:\cruisecontrol\state" />
	<workingDirectory>d:\cruisecontrol\working\CUST068</workingDirectory>
	<artifactDirectory>d:\cruisecontrol\artifacts\CUST068</artifactDirectory>
	<sourcecontrol type="svn">
		<trunkUrl>http://source.jenkon.com/svn/branches/releases-j6/7.0.9</trunkUrl>
		<workingDirectory>d:\builds\j6</workingDirectory>
		<username>build</username>
		<password>build</password>
		<autoGetSource>false</autoGetSource>
	</sourcecontrol>
	<tasks>
		<exec>
			<buildTimeoutSeconds>4800</buildTimeoutSeconds>
			<executable>d:\build\j6.cmd</executable>
			<buildArgs>build CUST068 -2008</buildArgs>
			<baseDirectory>d:\builds\j6</baseDirectory>
		</exec>
	</tasks>
	<publishers>
		<merge>
			<files>
				<file>d:\builds\j6\CUST068\build-logs\*.*</file>
			</files>
		</merge>
		<xmllogger />
	</publishers>
</project>
<!--


    CUST067-tests (7.0.9)
  -->
<project name="7.0.9-CUST068-tests" queue="SPRINT" queuePriority="25">
	<triggers>
		<projectTrigger project="7.0.9-CUST068" />
	</triggers>
	<category>development</category>
	<state type="state" directory="d:\cruisecontrol\state" />
	<workingDirectory>d:\cruisecontrol\working\CUST068</workingDirectory>
	<artifactDirectory>d:\cruisecontrol\artifacts\CUST068-tests</artifactDirectory>
	<tasks>
		<exec>
			<buildTimeoutSeconds>4800</buildTimeoutSeconds>
			<executable>d:\build\j6.cmd</executable>
			<buildArgs>tests CUST068 -2008</buildArgs>
			<baseDirectory>d:\builds\j6</baseDirectory>
		</exec>
	</tasks>
</project>

<!-- 
  
	IH00006
	
  -->
<project name="7.0.10-IH00006" queue="SPRINT" queuePriority="30">
	<triggers>
		<multiTrigger>
			<triggers>
				<intervalTrigger seconds="900" />
				<projectTrigger project="buildscripts" />
			</triggers>
		</multiTrigger>
	</triggers>
	<category>development</category>
	<state type="state" directory="d:\cruisecontrol\state" />
	<workingDirectory>d:\cruisecontrol\working\IH00006</workingDirectory>
	<artifactDirectory>d:\cruisecontrol\artifacts\IH00006</artifactDirectory>
	<sourcecontrol type="svn">
		<trunkUrl>http://source.jenkon.com/svn/branches/releases-j6/7.0.9</trunkUrl>
		<workingDirectory>d:\builds\j6</workingDirectory>
		<username>build</username>
		<password>build</password>
		<autoGetSource>false</autoGetSource>
	</sourcecontrol>
	<tasks>
		<exec>
			<buildTimeoutSeconds>4800</buildTimeoutSeconds>
			<executable>d:\build\j6.cmd</executable>
			<buildArgs>build IH00006 -2008</buildArgs>
			<baseDirectory>d:\builds\j6</baseDirectory>
		</exec>
	</tasks>
	<publishers>
		<merge>
			<files>
				<file>d:\builds\j6\IH00006\build-logs\*.*</file>
			</files>
		</merge>
		<xmllogger />
	</publishers>
</project>
<!--


    IH00006-tests (7.0.10)
  -->
<project name="7.0.10-IH00006-tests" queue="SPRINT" queuePriority="25">
	<triggers>
		<projectTrigger project="7.0.10-IH00006" />
	</triggers>
	<category>development</category>
	<state type="state" directory="d:\cruisecontrol\state" />
	<workingDirectory>d:\cruisecontrol\working\IH00006</workingDirectory>
	<artifactDirectory>d:\cruisecontrol\artifacts\IH00006-tests</artifactDirectory>
	<tasks>
		<exec>
			<buildTimeoutSeconds>4800</buildTimeoutSeconds>
			<executable>d:\build\j6.cmd</executable>
			<buildArgs>tests IH00006 -2008</buildArgs>
			<baseDirectory>d:\builds\j6</baseDirectory>
		</exec>
	</tasks>
</project>
<!-- 
    RELEASE-QA (7.0.9 build)
  -->
	<project name="RELEASE-QA" queue="RELEASEQA" queuePriority="1">
		<triggers>
			<scheduleTrigger time="05:00" />
		</triggers>
		<category>development</category>
		<state type="state" directory="d:\cruisecontrol\state" />
		<workingDirectory>d:\cruisecontrol\working\release-qa</workingDirectory>
		<artifactDirectory>d:\cruisecontrol\artifacts\release-qa</artifactDirectory>
		<sourcecontrol type="svn">
			<trunkUrl>http://source.jenkon.com/svn/branches/releases-j6/7.0.9</trunkUrl>
			<workingDirectory>d:\builds\j6</workingDirectory>
			<username>build</username>
			<password>build</password>
			<autoGetSource>false</autoGetSource>
		</sourcecontrol>
		<tasks>
			<exec>
				<buildTimeoutSeconds>4800</buildTimeoutSeconds>
				<executable>d:\build\j6.cmd</executable>
				<buildArgs>build RELEASE-QA -2008</buildArgs>
				<baseDirectory>d:\builds\j6</baseDirectory>
			</exec>
		</tasks>
		<publishers>
			<merge>
				<files>
					<file>d:\builds\j6\release-qa\build-logs\*.*</file>
				</files>
			</merge>
			<xmllogger />
		</publishers>
	</project>
<!-- 
    Release-QA-deploy
  -->
	<project name="RELEASE-QA-deploy" queue="RELEASEQA" queuePriority="2">
		<triggers>
			<projectTrigger project="RELEASE-QA" />
		</triggers>
		<category>development</category>
		<state type="state" directory="d:\cruisecontrol\state" />
		<workingDirectory>d:\cruisecontrol\working\release-qa</workingDirectory>
		<artifactDirectory>d:\cruisecontrol\artifacts\release-qa-deploy</artifactDirectory>
		<tasks>
			<exec>
				<buildTimeoutSeconds>4800</buildTimeoutSeconds>
				<executable>d:\build\j6.cmd</executable>
				<buildArgs>deploy RELEASE-QA -2008</buildArgs>
				<baseDirectory>d:\builds\j6</baseDirectory>
			</exec>
		</tasks>
	</project> 

<!-- 
    RYAN-QA (7.0.8 build)
  -->
<project name="RYAN-QA" queue="RYAN-QA" queuePriority="10">
	<triggers>
		<scheduleTrigger time="02:23" />
	</triggers>
	<category>development</category>
	<state type="state" directory="d:\cruisecontrol\state" />
	<workingDirectory>d:\cruisecontrol\working\ryanqa</workingDirectory>
	<artifactDirectory>d:\cruisecontrol\artifacts\ryanqa</artifactDirectory>
	<sourcecontrol type="svn">
		<trunkUrl>http://source.jenkon.com/svn/branches/releases-j6/7.0.8</trunkUrl>
		<workingDirectory>d:\builds\j6</workingDirectory>
		<username>build</username>
		<password>build</password>
		<autoGetSource>false</autoGetSource>
	</sourcecontrol>
	<tasks>
		<exec>
			<buildTimeoutSeconds>4800</buildTimeoutSeconds>
			<executable>d:\build\j6.cmd</executable>
			<buildArgs>build RYAN-QA -2008</buildArgs>
			<baseDirectory>d:\builds\j6</baseDirectory>
		</exec>
	</tasks>
	<publishers>
		<merge>
			<files>
				<file>d:\builds\j6\ryanqa\build-logs\*.*</file>
			</files>
		</merge>
		<xmllogger />
	</publishers>

</project>
<!--
    RYAN-QA-deploy
  -->
<project name="RYAN-QA-deploy" queue="RYAN-QA" queuePriority="5">
	<triggers>
		<projectTrigger project="RYAN-QA" />
	</triggers>
	<category>development</category>
	<state type="state" directory="d:\cruisecontrol\state" />
	<workingDirectory>d:\cruisecontrol\working\ryanqa</workingDirectory>
	<artifactDirectory>d:\cruisecontrol\artifacts\ryanqa</artifactDirectory>
	<tasks>
		<exec>
			<buildTimeoutSeconds>4800</buildTimeoutSeconds>
			<executable>d:\build\j6.cmd</executable>
			<buildArgs>deploy RYAN-QA -2008</buildArgs>
			<baseDirectory>d:\builds\j6</baseDirectory>
		</exec>
	</tasks>
</project>

<!-- 
    SPRINT Demo
<project name="SPRINT-Demo" queue="DEMO" queuePriority="10">
	<triggers>
		<scheduleTrigger time="01:23" />
	</triggers>
	<category>development</category>
	<state type="state" directory="d:\cruisecontrol\state" />
	<workingDirectory>d:\cruisecontrol\working\sprintDemo</workingDirectory>
	<artifactDirectory>d:\cruisecontrol\artifacts\sprintDemo</artifactDirectory>
	<sourcecontrol type="svn">
		<trunkUrl>http://source.jenkon.com/svn/branches/sprint25</trunkUrl>
		<workingDirectory>d:\builds\j6</workingDirectory>
		<username>build</username>
		<password>build</password>
		<autoGetSource>false</autoGetSource>
	</sourcecontrol>
	<tasks>
		<exec>
			<buildTimeoutSeconds>4800</buildTimeoutSeconds>
			<executable>d:\build\j6.cmd</executable>
			<buildArgs>build IH00096 -2008</buildArgs>
			<baseDirectory>d:\builds\j6</baseDirectory>
		</exec>
	</tasks>
	<publishers>
		<merge>
			<files>
				<file>d:\builds\j6\sprintDemo\build-logs\*.*</file>
			</files>
		</merge>
		<xmllogger />
	</publishers>
</project>
  -->
<!--
    SPRINT-Demo-deploy
<project name="SPRINT-Demo-deploy" queue="DEMO" queuePriority="5">
	<triggers>
		<projectTrigger project="SPRINT-Demo" />
	</triggers>
	<category>development</category>
	<state type="state" directory="d:\cruisecontrol\state" />
	<workingDirectory>d:\cruisecontrol\working\sprintDemo</workingDirectory>
	<artifactDirectory>d:\cruisecontrol\artifacts\sprintDemo</artifactDirectory>
	<tasks>
		<exec>
			<buildTimeoutSeconds>4800</buildTimeoutSeconds>
			<executable>d:\build\j6.cmd</executable>
			<buildArgs>deploy IH00096 -2008</buildArgs>
			<baseDirectory>d:\builds\j6</baseDirectory>
		</exec>
	</tasks>
</project>
  -->
	<!-- vim:se ft=xml: -->
</cruisecontrol>
