<cruisecontrol xmlns:cb="urn:ccnet.config.builder">

	<!-- Common definitions for all projects, edit to suit your system -->
	<cb:define hg = "C:\progra~1\Mercurial\hg.exe" />
	<cb:define feature="Core\boot\feature.exe" />
	<cb:define global_feature_dir="c:\build" />
	<cb:define scripts_dir="c:\build\scripts" />
	<cb:define global_feature="c:\build\feature.exe" />
	<cb:define modules="NONE" />
	<cb:define ccroot="C:\f_cc" />
	<cb:define ccserver="C:\Program Files (x86)\CruiseControl.NET\server" />
	<cb:define source="http://build:build@source.jenkon.com/hg/hgwebdir.cgi/feature" />
	<cb:define mailhost="mail.jenkon.com"/>
	<cb:define ndepend="C:\ndepend\NDepend.Console.exe"/>
	<cb:define gendarme="C:\Program Files\Novell\Gendarme\gendarme.exe"/>
	<cb:define fxcop="C:\Program Files (x86)\Microsoft Fxcop 10.0\FxCop.exe"/>
	<cb:define msbuild = "C:\Windows\Microsoft.NET\Framework64\v4.0.30319\MSBuild.exe" />
	<cb:define 		
		db-server="dev-sql1"
		db-user="sqluser"
		db-password="j0l-6-web"
		rtq-server="\\dl360-web2"
		deploy-root="\\dl360-web2\QA_Sites"
		deploy-root-local="C:\j6\QA_Sites"
		bookmark=""
		hgBranch="default"
		pull-options=""
		tag = ""
		unit-test="true"
		install-patches="true"
		redis-server="localhost"

/>

	<cb:include href="templates.xml" xmlns:cb="urn:ccnet.config.builder" />
	<cb:include href="msbuild-templates.xml" xmlns:cb="urn:ccnet.config.builder" />
	<cb:include href="7.6-templates.xml" xmlns:cb="urn:ccnet.config.builder" />
	
<cb:v76build
	branch = '7.6.0'
	driver = 'CUST000'
	db-server="jia-sql12"
	db-user=""
	db-password=""
	source = 'http://build:build@source.jenkon.com/hg/hgwebdir.cgi/feature/customers/CUST000'
	clean="true"
	install-patches="true"
	build="true"	
	unit-test="true"
	data-test="true"
	msbuild = "C:\Windows\Microsoft.NET\Framework64\v4.0.30319\MSBuild.exe"
	redis-db="14"
	platform="AnyCpu"
	/>

<cb:v76build
	branch = 'fix_redis_tests'
	driver = 'CUST000'
	db-server="jia-sql12"
	db-user=""
	db-password=""
	source = 'http://build:build@source.jenkon.com/hg/hgwebdir.cgi/feature/customers/CUST000'
	clean="true"
	install-patches="true"
	build="true"	
	unit-test="true"
	data-test="true"
	msbuild = "C:\Windows\Microsoft.NET\Framework64\v4.0.30319\MSBuild.exe"
	redis-db="15"
	platform="AnyCpu"
	/>

<cb:v76build
	branch = '760_QA'
	driver = 'CUST000'
	db-server="jia-sql12"
	db-user=""
	db-password=""
	source = 'http://build:build@source.jenkon.com/hg/hgwebdir.cgi/feature/customers/CUST000'
	clean="true"
	install-patches="true"
	build="true"	
	unit-test="false"
	data-test="false"
	msbuild = "C:\Windows\Microsoft.NET\Framework64\v4.0.30319\MSBuild.exe"
	redis-db="16"
	platform="AnyCpu"
	modules="AUTOSHIP"
	/>

</cruisecontrol>