<cruisecontrol xmlns:cb="urn:ccnet.config.builder">

  <!-- 
  Build projects are no longer defined here.  Instead, check them into source control.
  The build server will validate the configuration and update the ccnet.config automatically within 60 seconds.

  Repository: http://source.jenkon.com/hg/hgwebdir.cgi/build
  Config Folder: config\cruisecontrol\<build-server-name>\server
  j6 Build Projects: j6-builds.xml
  -->

  <cb:include href="serverConfig.xml" xmlns:cb="urn:ccnet.config.builder" />
  <cb:include href="constants.xml" xmlns:cb="urn:ccnet.config.builder" />
  <cb:include href="ccnetProject.xml" xmlns:cb="urn:ccnet.config.builder" />
  <cb:include href="code-blocks.xml" xmlns:cb="urn:ccnet.config.builder" />
  <cb:include href="project-templates.xml" xmlns:cb="urn:ccnet.config.builder" />
  <cb:include href="j6-builds.xml" xmlns:cb="urn:ccnet.config.builder" />
  <cb:include href="tools.xml" xmlns:cb="urn:ccnet.config.builder" />  

</cruisecontrol>
