<cruisecontrol xmlns:cb="urn:ccnet.config.builder">

	<!-- Common definitions for all projects, edit to suit your system -->
	<cb:define hg = "C:\progra~1\Mercurial\hg.exe" />
	<cb:define feature="Core\boot\feature.exe" />
	<cb:define global_feature_dir="c:\build" />
	<cb:define scripts_dir="c:\build\scripts" />
	<cb:define global_feature="c:\build\feature.exe" />
	<cb:define modules="NONE" />
	<cb:define ccroot="f:\cc" />
	<cb:define ccserver="C:\Program Files (x86)\CruiseControl.NET\server" />
	<cb:define source="http://build:build@source.jenkon.com/hg/hgwebdir.cgi/feature" />
	<cb:define mailhost="mail.jenkon.com"/>
	<cb:define ndepend="C:\ndepend\NDepend.Console.exe"/>
	<cb:define gendarme="C:\Program Files\Novell\Gendarme\gendarme.exe"/>
	<cb:define fxcop="C:\Program Files (x86)\Microsoft Fxcop 10.0\FxCop.exe"/>
	<cb:define msbuild = "C:\Windows\Microsoft.NET\Framework64\v4.0.30319\MSBuild.exe" />
	<cb:define 		
		db-server="dev-sql1"
		db-user="sqluser"
		db-password="j0l-6-web"
		rtq-server="\\dl360-web2"
		deploy-root="\\dl360-web2\QA_Sites"
		deploy-root-local="C:\j6\QA_Sites"
		bookmark=""
		hgBranch="default"
		pull-options=""
		tag = ""
		unit-test="true"
		install-patches="true"
/>

	<cb:include href="templates.xml" xmlns:cb="urn:ccnet.config.builder" />
	<cb:include href="msbuild-templates.xml" xmlns:cb="urn:ccnet.config.builder" />

	
	<!-- Source control projects -->
	
	<!-- Note that in newer versions of ccnet, ccnet will create the feature folders. No need to create by hand. -->
	<!--
	<cb:branch-project project-name = "branch_sprint" branch="branches/sprint" sourceCheckInterval = "600">
		<cb:define name = "sources">
			<cb:sourceFeature feature-name='ALL' />
			<cb:sourceFeature feature-name='Analytics' />
			<cb:sourceFeature feature-name='Communication' />
			<cb:sourceFeature feature-name='CommunicationEvent' />
			<cb:sourceFeature feature-name='CommunicationSalesOrder' />
			<cb:sourceFeature feature-name='Contact' />
			<cb:sourceFeature feature-name='Core' />
			<cb:sourceFeature feature-name='CUST000' />
			<cb:sourceFeature feature-name='CUST065' />
			<cb:sourceFeature feature-name='CUST068' />
			<cb:sourceFeature feature-name='CUST069' />
			<cb:sourceFeature feature-name='CUST072' />
			<cb:sourceFeature feature-name='CUST073' />
			<cb:sourceFeature feature-name='CUST074' />
			<cb:sourceFeature feature-name='CUST075' />
			<cb:sourceFeature feature-name='CUST076' />
			<cb:sourceFeature feature-name='CUST077' />
			<cb:sourceFeature feature-name='CUST2081' />
			<cb:sourceFeature feature-name='CUST2082' />
			<cb:sourceFeature feature-name='CUST2083' />
			<cb:sourceFeature feature-name='CUST2088' />
			<cb:sourceFeature feature-name='DashBoard' />
			<cb:sourceFeature feature-name='CUST2087' />
			<cb:sourceFeature feature-name='Earning' />
			<cb:sourceFeature feature-name='Engine' />
			<cb:sourceFeature feature-name='Event' />
			<cb:sourceFeature feature-name='Genealogy' />
			<cb:sourceFeature feature-name='GeneViz' />
			<cb:sourceFeature feature-name='GraphicGenealogy' />
			<cb:sourceFeature feature-name='IH00010' />
			<cb:sourceFeature feature-name='IH00016' />
			<cb:sourceFeature feature-name='IH00016W' />
			<cb:sourceFeature feature-name='ImportExport' />
			<cb:sourceFeature feature-name='Jcoach' />
			<cb:sourceFeature feature-name='MODEL' />
			<cb:sourceFeature feature-name='Payment' />
			<cb:sourceFeature feature-name='PlanBuilder' />
			<cb:sourceFeature feature-name='SalesOrder' />
			<cb:sourceFeature feature-name='SPRINT' />
			<cb:sourceFeature feature-name='Test' />
			<cb:sourceFeature feature-name='Web' />
			<cb:sourceFeature feature-name='WebConsultant' />
			<cb:sourceFeature feature-name='WebEmployee' />
			<cb:sourceFeature feature-name='WebPersonal' />
			<cb:sourceFeature feature-name='WebService' />
		</cb:define>
	</cb:branch-project>
	
	<cb:branch-project project-name = "branch_7_4_5" branch="branches/sprint" hgBranch="7.4.5" sourceCheckInterval = "600">
		<cb:define name = "sources">
			<cb:sourceFeature feature-name='Communication' />
			<cb:sourceFeature feature-name='CommunicationSalesOrder' />
			<cb:sourceFeature feature-name='Contact' />
			<cb:sourceFeature feature-name='Core' />
			<cb:sourceFeature feature-name='CUST2088' />
			<cb:sourceFeature feature-name='DashBoard' />
			<cb:sourceFeature feature-name='Earning' />
			<cb:sourceFeature feature-name='Engine' />
			<cb:sourceFeature feature-name='Genealogy' />
			<cb:sourceFeature feature-name='GraphicGenealogy' />
			<cb:sourceFeature feature-name='ImportExport' />
			<cb:sourceFeature feature-name='Jcoach' />
			<cb:sourceFeature feature-name='Payment' />
			<cb:sourceFeature feature-name='PlanBuilder' />
			<cb:sourceFeature feature-name='SalesOrder' />
			<cb:sourceFeature feature-name='Web' />
			<cb:sourceFeature feature-name='WebConsultant' />
			<cb:sourceFeature feature-name='WebEmployee' />
			<cb:sourceFeature feature-name='WebService' />
		</cb:define>
	</cb:branch-project>

	<cb:branch-project project-name = "branch_7_4_4" branch="branches/sprint" hgBranch="7.4.4" sourceCheckInterval = "600">
		<cb:define name = "sources">
			<cb:sourceFeature feature-name='Communication' />
			<cb:sourceFeature feature-name='CommunicationSalesOrder' />
			<cb:sourceFeature feature-name='Contact' />
			<cb:sourceFeature feature-name='Core' />
			<cb:sourceFeature feature-name='CUST069' />
			<cb:sourceFeature feature-name='CUST065' />
			<cb:sourceFeature feature-name='DashBoard' />
			<cb:sourceFeature feature-name='Earning' />
			<cb:sourceFeature feature-name='Engine' />
			<cb:sourceFeature feature-name='Event' />
			<cb:sourceFeature feature-name='Genealogy' />
			<cb:sourceFeature feature-name='GraphicGenealogy' />
			<cb:sourceFeature feature-name='ImportExport' />
			<cb:sourceFeature feature-name='Jcoach' />
			<cb:sourceFeature feature-name='Payment' />
			<cb:sourceFeature feature-name='PlanBuilder' />
			<cb:sourceFeature feature-name='SalesOrder' />
			<cb:sourceFeature feature-name='Web' />
			<cb:sourceFeature feature-name='WebConsultant' />
			<cb:sourceFeature feature-name='WebPersonal' />
			<cb:sourceFeature feature-name='WebEmployee' />
			<cb:sourceFeature feature-name='WebService' />
		</cb:define>
	</cb:branch-project>

	<cb:branch-project project-name = "branch_7_4_0" branch="releases/7.4.0" sourceCheckInterval = "600">
	<cb:define name = "sources">
		<cb:sourceFeature feature-name='Communication' />
		<cb:sourceFeature feature-name='CommunicationEvent' />
		<cb:sourceFeature feature-name='CommunicationSalesOrder' />
		<cb:sourceFeature feature-name='Contact' />
		<cb:sourceFeature feature-name='Core' />
		<cb:sourceFeature feature-name='CUST2085' />
		<cb:sourceFeature feature-name='DashBoard' />
		<cb:sourceFeature feature-name='Earning' />
		<cb:sourceFeature feature-name='Engine' />
		<cb:sourceFeature feature-name='Event' />
		<cb:sourceFeature feature-name='Genealogy' />
		<cb:sourceFeature feature-name='GraphicGenealogy' />
		<cb:sourceFeature feature-name='ImportExport' />
		<cb:sourceFeature feature-name='Jcoach' />
		<cb:sourceFeature feature-name='MODEL' />
		<cb:sourceFeature feature-name='Payment' />
		<cb:sourceFeature feature-name='PlanBuilder' />
		<cb:sourceFeature feature-name='SalesOrder' />
		<cb:sourceFeature feature-name='Web' />
		<cb:sourceFeature feature-name='WebConsultant' />
		<cb:sourceFeature feature-name='WebEmployee' />
		<cb:sourceFeature feature-name='WebPersonal' />
		<cb:sourceFeature feature-name='WebService' />
	</cb:define>
</cb:branch-project>

<cb:branch-project project-name = "branch_7_4_1" branch="releases/7.4.1" sourceCheckInterval = "600">
	<cb:define name = "sources">
		<cb:sourceFeature feature-name='Communication' />
		<cb:sourceFeature feature-name='CommunicationEvent' />
		<cb:sourceFeature feature-name='CommunicationSalesOrder' />
		<cb:sourceFeature feature-name='Contact' />
		<cb:sourceFeature feature-name='Core' />
		<cb:sourceFeature feature-name='CUST2083' />
		<cb:sourceFeature feature-name='CUST2085' />
		<cb:sourceFeature feature-name='DashBoard' />
		<cb:sourceFeature feature-name='Earning' />
		<cb:sourceFeature feature-name='Engine' />
		<cb:sourceFeature feature-name='Event' />
		<cb:sourceFeature feature-name='Genealogy' />
		<cb:sourceFeature feature-name='GraphicGenealogy' />
		<cb:sourceFeature feature-name='ImportExport' />
		<cb:sourceFeature feature-name='Jcoach' />
		<cb:sourceFeature feature-name='Payment' />
		<cb:sourceFeature feature-name='PlanBuilder' />
		<cb:sourceFeature feature-name='SalesOrder' />
		<cb:sourceFeature feature-name='Web' />
		<cb:sourceFeature feature-name='WebConsultant' />
		<cb:sourceFeature feature-name='WebEmployee' />
		<cb:sourceFeature feature-name='WebPersonal' />
		<cb:sourceFeature feature-name='WebService' />
	</cb:define>
	<cb:define pull-options="UTH-PROD,rte,pvgv" />
</cb:branch-project>

<cb:branch-project project-name = "branch_7_4_1_perf" branch="branches/7.4.1-perf" sourceCheckInterval = "600">
	<cb:define name = "sources">
		<cb:sourceFeature feature-name='Communication' />
		<cb:sourceFeature feature-name='CommunicationEvent' />
		<cb:sourceFeature feature-name='CommunicationSalesOrder' />
		<cb:sourceFeature feature-name='Contact' />
		<cb:sourceFeature feature-name='Core' />
		<cb:sourceFeature feature-name='CUST2083' />
		<cb:sourceFeature feature-name='CUST2085' />
		<cb:sourceFeature feature-name='DashBoard' />
		<cb:sourceFeature feature-name='Earning' />
		<cb:sourceFeature feature-name='Engine' />
		<cb:sourceFeature feature-name='Event' />
		<cb:sourceFeature feature-name='Genealogy' />
		<cb:sourceFeature feature-name='GraphicGenealogy' />
		<cb:sourceFeature feature-name='ImportExport' />
		<cb:sourceFeature feature-name='Jcoach' />
		<cb:sourceFeature feature-name='Payment' />
		<cb:sourceFeature feature-name='PlanBuilder' />
		<cb:sourceFeature feature-name='SalesOrder' />
		<cb:sourceFeature feature-name='Web' />
		<cb:sourceFeature feature-name='WebConsultant' />
		<cb:sourceFeature feature-name='WebEmployee' />
		<cb:sourceFeature feature-name='WebPersonal' />
		<cb:sourceFeature feature-name='WebService' />
	</cb:define>
	<cb:define pull-options="UTH-PROD,perf" />
</cb:branch-project>

<cb:branch-project project-name = "branch_demo_7_4_2" branch="branches/demo7.4.2" sourceCheckInterval = "600">
	<cb:define name = "sources">
		<cb:sourceFeature feature-name='Communication' />
		<cb:sourceFeature feature-name='CommunicationEvent' />
		<cb:sourceFeature feature-name='CommunicationSalesOrder' />
		<cb:sourceFeature feature-name='Contact' />
		<cb:sourceFeature feature-name='Core' />
		<cb:sourceFeature feature-name='CUST000' />
		<cb:sourceFeature feature-name='DashBoard' />
		<cb:sourceFeature feature-name='Earning' />
		<cb:sourceFeature feature-name='Engine' />
		<cb:sourceFeature feature-name='Event' />
		<cb:sourceFeature feature-name='Genealogy' />
		<cb:sourceFeature feature-name='GraphicGenealogy' />
		<cb:sourceFeature feature-name='ImportExport' />
		<cb:sourceFeature feature-name='Jcoach' />
		<cb:sourceFeature feature-name='Payment' />
		<cb:sourceFeature feature-name='PlanBuilder' />
		<cb:sourceFeature feature-name='SalesOrder' />
		<cb:sourceFeature feature-name='Web' />
		<cb:sourceFeature feature-name='WebConsultant' />
		<cb:sourceFeature feature-name='WebEmployee' />
		<cb:sourceFeature feature-name='WebPersonal' />
		<cb:sourceFeature feature-name='WebService' />
	</cb:define>
</cb:branch-project>

<cb:branch-project project-name = "branch_demo_7_4_3" branch="branches/demo7.4.3" sourceCheckInterval = "600">
	<cb:define name = "sources">
		<cb:sourceFeature feature-name='Communication' />
		<cb:sourceFeature feature-name='CommunicationEvent' />
		<cb:sourceFeature feature-name='CommunicationSalesOrder' />
		<cb:sourceFeature feature-name='Contact' />
		<cb:sourceFeature feature-name='Core' />
		<cb:sourceFeature feature-name='CUST000' />
		<cb:sourceFeature feature-name='DashBoard' />
		<cb:sourceFeature feature-name='Earning' />
		<cb:sourceFeature feature-name='Engine' />
		<cb:sourceFeature feature-name='Event' />
		<cb:sourceFeature feature-name='Genealogy' />
		<cb:sourceFeature feature-name='GraphicGenealogy' />
		<cb:sourceFeature feature-name='ImportExport' />
		<cb:sourceFeature feature-name='Jcoach' />
		<cb:sourceFeature feature-name='Payment' />
		<cb:sourceFeature feature-name='PlanBuilder' />
		<cb:sourceFeature feature-name='SalesOrder' />
		<cb:sourceFeature feature-name='Web' />
		<cb:sourceFeature feature-name='WebConsultant' />
		<cb:sourceFeature feature-name='WebEmployee' />
		<cb:sourceFeature feature-name='WebPersonal' />
		<cb:sourceFeature feature-name='WebService' />
	</cb:define>
</cb:branch-project>

<cb:branch-project project-name = "branch_7_4_2" branch="releases/7.4.2" sourceCheckInterval = "600">
	<cb:define name = "sources">
		<cb:sourceFeature feature-name='Communication' />
		<cb:sourceFeature feature-name='CommunicationEvent' />
		<cb:sourceFeature feature-name='CommunicationSalesOrder' />
		<cb:sourceFeature feature-name='Contact' />
		<cb:sourceFeature feature-name='Core' />
		<cb:sourceFeature feature-name='CUST2083' />
		<cb:sourceFeature feature-name='DashBoard' />
		<cb:sourceFeature feature-name='Earning' />
		<cb:sourceFeature feature-name='Engine' />
		<cb:sourceFeature feature-name='Event' />
		<cb:sourceFeature feature-name='Genealogy' />
		<cb:sourceFeature feature-name='GraphicGenealogy' />
		<cb:sourceFeature feature-name='ImportExport' />
		<cb:sourceFeature feature-name='Jcoach' />
		<cb:sourceFeature feature-name='Payment' />
		<cb:sourceFeature feature-name='PlanBuilder' />
		<cb:sourceFeature feature-name='SalesOrder' />
		<cb:sourceFeature feature-name='Web' />
		<cb:sourceFeature feature-name='WebConsultant' />
		<cb:sourceFeature feature-name='WebEmployee' />
		<cb:sourceFeature feature-name='WebPersonal' />
		<cb:sourceFeature feature-name='WebService' />
	</cb:define>
</cb:branch-project>

<cb:branch-project project-name = "branch_7_4_3" branch="releases/7.4.3" sourceCheckInterval = "600">
	<cb:define name = "sources">
		<cb:sourceFeature feature-name='Analytics' />
		<cb:sourceFeature feature-name='Communication' />
		<cb:sourceFeature feature-name='CommunicationEvent' />
		<cb:sourceFeature feature-name='CommunicationSalesOrder' />
		<cb:sourceFeature feature-name='Contact' />
		<cb:sourceFeature feature-name='Core' />
		<cb:sourceFeature feature-name='CUST000' />
		<cb:sourceFeature feature-name='CUST2087' />
		<cb:sourceFeature feature-name='DashBoard' />
		<cb:sourceFeature feature-name='Earning' />
		<cb:sourceFeature feature-name='Engine' />
		<cb:sourceFeature feature-name='Event' />
		<cb:sourceFeature feature-name='Genealogy' />
		<cb:sourceFeature feature-name='GraphicGenealogy' />
		<cb:sourceFeature feature-name='ImportExport' />
		<cb:sourceFeature feature-name='Jcoach' />
		<cb:sourceFeature feature-name='Payment' />
		<cb:sourceFeature feature-name='PlanBuilder' />
		<cb:sourceFeature feature-name='SalesOrder' />
		<cb:sourceFeature feature-name='Web' />
		<cb:sourceFeature feature-name='WebConsultant' />
		<cb:sourceFeature feature-name='WebEmployee' />
		<cb:sourceFeature feature-name='WebPersonal' />
		<cb:sourceFeature feature-name='WebService' />
	</cb:define>
</cb:branch-project>

<cb:branch-project project-name = "branch_7_3_3_jjl" branch="releases/7.3.3-jjl" sourceCheckInterval = "180">
	<cb:define name = "sources">
		<cb:sourceFeature feature-name='Communication' />
		<cb:sourceFeature feature-name='CommunicationSalesOrder' />
		<cb:sourceFeature feature-name='Contact' />
		<cb:sourceFeature feature-name='Core' />
		<cb:sourceFeature feature-name='CUST2082' />
		<cb:sourceFeature feature-name='DashBoard' />
		<cb:sourceFeature feature-name='Earning' />
		<cb:sourceFeature feature-name='Engine' />
		<cb:sourceFeature feature-name='Event' />
		<cb:sourceFeature feature-name='Genealogy' />
		<cb:sourceFeature feature-name='GraphicGenealogy' />
		<cb:sourceFeature feature-name='ImportExport' />
		<cb:sourceFeature feature-name='Jcoach' />
		<cb:sourceFeature feature-name='Payment' />
		<cb:sourceFeature feature-name='PlanBuilder' />
		<cb:sourceFeature feature-name='SalesOrder' />
		<cb:sourceFeature feature-name='Web' />
		<cb:sourceFeature feature-name='WebConsultant' />
		<cb:sourceFeature feature-name='WebEmployee' />
		<cb:sourceFeature feature-name='WebPersonal' />
		<cb:sourceFeature feature-name='WebService' />
	</cb:define>

</cb:branch-project>

<cb:branch-project project-name = "branch_7_3_3" branch="releases/7.3.3" sourceCheckInterval = "180">
	<cb:define name = "sources">
		<cb:sourceFeature feature-name='Communication' />
		<cb:sourceFeature feature-name='CommunicationEngine' />
		<cb:sourceFeature feature-name='CommunicationEvent' />
		<cb:sourceFeature feature-name='CommunicationSalesOrder' />
		<cb:sourceFeature feature-name='Contact' />
		<cb:sourceFeature feature-name='Core' />
		<cb:sourceFeature feature-name='CUST2086' />
		<cb:sourceFeature feature-name='DashBoard' />
		<cb:sourceFeature feature-name='Earning' />
		<cb:sourceFeature feature-name='Employee' />
		<cb:sourceFeature feature-name='Engine' />
		<cb:sourceFeature feature-name='Event' />
		<cb:sourceFeature feature-name='Genealogy' />
		<cb:sourceFeature feature-name='GraphicGenealogy' />
		<cb:sourceFeature feature-name='ImportExport' />
		<cb:sourceFeature feature-name='Jcoach' />
		<cb:sourceFeature feature-name='Payment' />
		<cb:sourceFeature feature-name='PlanBuilder' />
		<cb:sourceFeature feature-name='Realtime' />
		<cb:sourceFeature feature-name='SalesOrder' />
		<cb:sourceFeature feature-name='Web' />
		<cb:sourceFeature feature-name='WebConsultant' />
		<cb:sourceFeature feature-name='WebEmployee' />
		<cb:sourceFeature feature-name='WebPersonal' />
		<cb:sourceFeature feature-name='WebService' />
	</cb:define>

</cb:branch-project>

<cb:branch-project project-name = "branch_7_3_4" branch="releases/7.3.4" sourceCheckInterval = "180">
	<cb:define name = "sources">
		<cb:sourceFeature feature-name='Communication' />
		<cb:sourceFeature feature-name='CommunicationEngine' />
		<cb:sourceFeature feature-name='CommunicationEvent' />
		<cb:sourceFeature feature-name='CommunicationSalesOrder' />
		<cb:sourceFeature feature-name='Contact' />
		<cb:sourceFeature feature-name='Core' />
		<cb:sourceFeature feature-name='CUST043' />
		<cb:sourceFeature feature-name='DashBoard' />
		<cb:sourceFeature feature-name='Earning' />
		<cb:sourceFeature feature-name='Employee' />
		<cb:sourceFeature feature-name='Engine' />
		<cb:sourceFeature feature-name='Event' />
		<cb:sourceFeature feature-name='Genealogy' />
		<cb:sourceFeature feature-name='GraphicGenealogy' />
		<cb:sourceFeature feature-name='ImportExport' />
		<cb:sourceFeature feature-name='Jcoach' />
		<cb:sourceFeature feature-name='Payment' />
		<cb:sourceFeature feature-name='PlanBuilder' />
		<cb:sourceFeature feature-name='Realtime' />
		<cb:sourceFeature feature-name='SalesOrder' />
		<cb:sourceFeature feature-name='Web' />
		<cb:sourceFeature feature-name='WebConsultant' />
		<cb:sourceFeature feature-name='WebEmployee' />
		<cb:sourceFeature feature-name='WebPersonal' />
		<cb:sourceFeature feature-name='WebService' />
	</cb:define>

</cb:branch-project>
-->

<cb:branch-project project-name = "branch_7_3_3" branch="releases/7.3.3" sourceCheckInterval = "180">
	<cb:define name = "sources">
		<cb:sourceFeature feature-name='Communication' />
		<cb:sourceFeature feature-name='CommunicationEngine' />
		<cb:sourceFeature feature-name='CommunicationEvent' />
		<cb:sourceFeature feature-name='CommunicationSalesOrder' />
		<cb:sourceFeature feature-name='Contact' />
		<cb:sourceFeature feature-name='Core' />
		<cb:sourceFeature feature-name='CUST2086' />
		<cb:sourceFeature feature-name='DashBoard' />
		<cb:sourceFeature feature-name='Earning' />
		<cb:sourceFeature feature-name='Employee' />
		<cb:sourceFeature feature-name='Engine' />
		<cb:sourceFeature feature-name='Event' />
		<cb:sourceFeature feature-name='Genealogy' />
		<cb:sourceFeature feature-name='GraphicGenealogy' />
		<cb:sourceFeature feature-name='ImportExport' />
		<cb:sourceFeature feature-name='Jcoach' />
		<cb:sourceFeature feature-name='Payment' />
		<cb:sourceFeature feature-name='PlanBuilder' />
		<cb:sourceFeature feature-name='Realtime' />
		<cb:sourceFeature feature-name='SalesOrder' />
		<cb:sourceFeature feature-name='Web' />
		<cb:sourceFeature feature-name='WebConsultant' />
		<cb:sourceFeature feature-name='WebEmployee' />
		<cb:sourceFeature feature-name='WebPersonal' />
		<cb:sourceFeature feature-name='WebService' />
	</cb:define>

</cb:branch-project>


<!-- mssetup-project defines both mssetupbuild and mssetuppackage. You no longer need to specify both in ccnet.config. -CVS -->


<!--
<cb:mssetup-project
	branch='sprint'
	driver = 'CUST2087'
	include-source="true"
/>
<cb:mssetup-project
	branch='demo_7_4_3'
	driver='CUST000'
/>

<cb:mssetup-project
	branch='7_4_1'
	driver = 'CUST2085'
/>
-->

<!-- We only want to build CUST000 on sprint, not create a package, so we use mssetupbuild here. -CVS -->

<!--
<cb:mssetupbuild
  	branch='sprint'
  	driver='CUST000'
 />
 -->



 <cb:customerbuild
	branch = '7.4.5'
	driver = 'CUST2089'
	db-server="dev-sql1"
	source = 'http://build:build@source.jenkon.com/hg/hgwebdir.cgi/feature/customers/CUST2089'	
	/>

	<cb:customerbuild
	branch = 'default'
	tag = 'DEMO'
	driver = 'CUST000'
	db-server="dev-sql1"
	source = 'http://build:build@source.jenkon.com/hg/hgwebdir.cgi/feature/customers/CUST000'	
	/>

<cb:customerbuild
	branch = '7.5.1'
	driver = 'CUST000'
	db-server="dev-sql1"
	source = 'http://build:build@source.jenkon.com/hg/hgwebdir.cgi/feature/customers/CUST000'	
	unit-test="True"	
	/>

<cb:customerbuild
	branch = 'default'
	driver = 'CUST000'
	db-server="dev-sql1"
	source = 'http://build:build@source.jenkon.com/hg/hgwebdir.cgi/feature/customers/CUST000'	
	unit-test="True"	
	/>

<cb:nightlybuild
	branch = 'default'
	driver = 'CUST000'
	buildVariationLabel = '-nightlybuild'
	db-server="dev-sql1"
	source = 'http://build:build@source.jenkon.com/hg/hgwebdir.cgi/feature/customers/CUST000'	
	unit-test="True"	
	/>


	<cb:customerbuild
	branch = 'default'
	driver = 'CUST043'
	db-server="dev-sql1"
	source = 'http://build:build@source.jenkon.com/hg/hgwebdir.cgi/feature/customers/CUST043'	
	unit-test="false"
	configuration="Debug"
	protect="True"
	/>

 <cb:customerbuild
	branch = 'default'
	bookmark = 'bbd-dev'
	driver = 'CUST2087'
	db-server="dev-sql1"
	source = 'http://build:build@source.jenkon.com/hg/hgwebdir.cgi/feature/customers/CUST2087'	
	include-source = 'true'
	/>

 <cb:customerbuild
	branch = '7.5.0'
	driver = 'CUST065'
	db-server="dev-sql1"
	source = 'http://build:build@source.jenkon.com/hg/hgwebdir.cgi/feature/customers/CUST065'	
	/>

	 <cb:customerbuild
	branch = '7.4.4'
	driver = 'CUST069'
	db-server="dev-sql1"
	source = 'http://build:build@source.jenkon.com/hg/hgwebdir.cgi/feature/customers/CUST069'	
	/>

 <cb:customerbuild
	branch = '7.4.5'
	driver = 'CUST2088'
	db-server="dev-sql1"
	source = 'http://build:build@source.jenkon.com/hg/hgwebdir.cgi/feature/customers/CUST2088'	
	/>

 <cb:customerbuild
	branch = 'default'
	driver = 'CUST2082'
	db-server="dev-sql1"
	source = 'http://build:build@source.jenkon.com/hg/hgwebdir.cgi/feature/customers/CUST2082'	
	configuration="Debug"
	protect="false"
	/>

 <cb:customerbuild
	branch = 'default'
	driver = 'CUST2086'
	db-server="dev-sql1"
	source = 'http://build:build@source.jenkon.com/hg/hgwebdir.cgi/feature/customers/CUST2086'	
	/>

 <cb:customerbuild
	branch = '7.5.0'
	driver = 'CUST2086'
	db-server="dev-sql1"
	source = 'http://build:build@source.jenkon.com/hg/hgwebdir.cgi/feature/customers/CUST2086'	
	/>

  <cb:customerbuild
	tag = 'PROD'
	branch = 'default'
	driver = 'CUST2083'
	db-server="dev-sql1"
	source = 'http://build:build@source.jenkon.com/hg/hgwebdir.cgi/feature/customers/CUST2083'	
	/>

<cb:customerbuild
	branch = 'default'
	bookmark = 'dev'
	driver = 'CUST2083'
	db-server="dev-sql1"
	source = 'http://build:build@source.jenkon.com/hg/hgwebdir.cgi/feature/customers/CUST2083'	
	/>
<!--
	<cb:mssetup-project
	branch='7_4_1'
	driver='CUST2083'
	bookmark="rte"
	prevent-multipleheads="false"
/>

<cb:mssetup-project
	branch='7_4_1'
	driver='CUST2083'
	bookmark="pvgv"
	prevent-multipleheads="false"
/>

<cb:mssetup-project
	branch='7_4_1_perf'
	driver='CUST2083'
	bookmark="perf"
	prevent-multipleheads="false"
/>
<cb:mssetup-project
	branch='7_4_1'
	driver='CUST2083'
/>

<cb:mssetup-project
	branch='7_4_1'
	bookmark='UTH-PROD'
	driver='CUST2083'
/>


<cb:mssetup-project
	branch='sprint'
	hgBranch='7.4.4'
	driver='CUST065'
	prevent-multipleheads="false"
/>
 
<cb:mssetup-project
	branch='sprint'
	hgBranch='7.4.4'
	driver='CUST069'
	prevent-multipleheads="false"
	modules='AUTOSHIP'
/>

<cb:mssetup-project
	branch='sprint'
	hgBranch='7.4.5'
	driver='CUST2088'
	prevent-multipleheads="false"
/>

-->

<!-- Pre-7.4 style builds  -->

		
		
	

		
<!--	
	<cb:build-deploy-package
		project-root = 'jia-JJL-7.3.3-jjl'
		source = '$(ccroot)\branch_7_3_3_jjl'
		trigger-project = 'branch_7_3_3_jjl'
		driver = 'CUST2082'
		msbuild = "C:\Windows\Microsoft.NET\Framework64\v3.5\MSBuild.exe" />
		/>

		<cb:build-deploy-package
		project-root = 'jia-CUST2086-7.3.3'
		source = '$(ccroot)\branch_7_3_3'
		trigger-project = 'branch_7_3_3'
		driver = 'CUST2086'
		msbuild = "C:\Windows\Microsoft.NET\Framework64\v3.5\MSBuild.exe" />
		/>

		<cb:build-deploy-package
		project-root = 'jia-CUST043-7.3.4'
		source = '$(ccroot)\branch_7_3_4'
		trigger-project = 'branch_7_3_4'
		driver = 'CUST043'
		global_feature="c:\build\feature.exe"
		msbuild = "C:\Windows\Microsoft.NET\Framework64\v3.5\MSBuild.exe" />
		/>

		<cb:build-deploy-package
		project-root = 'jia-CUST000-7.3.3'
		source = '$(ccroot)\branch_7_3_3'
		trigger-project = 'branch_7_3_3'
		driver = 'CUST000'
		msbuild = "C:\Windows\Microsoft.NET\Framework64\v3.5\MSBuild.exe" />
		/>
-->

<!--
		<cb:build-deploy-package
		project-root = 'jia-CUST000-7.3.3'
		source = '$(ccroot)\branch_7_3_3'
		trigger-project = 'branch_7_3_3'
		driver = 'CUST000'
		msbuild = "C:\Windows\Microsoft.NET\Framework64\v3.5\MSBuild.exe" />
		/>
-->
	</cruisecontrol>