<?xml version="1.0"?>
<cruisecontrol>
  <!-- 


    cruise control config
  -->
  <project name="cruisecontrol" queue="ccnet" queuePriority="10">
    <triggers>
      <intervalTrigger seconds="15" />
    </triggers>
    <category>infrastructure</category>
    <state type="state" directory="d:\cruisecontrol\state" />
    <workingDirectory>D:\CRUISECONTROL\working</workingDirectory>
    <artifactDirectory>D:\CRUISECONTROL\artifacts\mini-me-ccnet-config</artifactDirectory>
    <sourcecontrol type="svn">
      <trunkUrl>http://source.jenkon.com/svn/build/config/cruisecontrol/mini-me</trunkUrl>
      <workingDirectory>C:\Program Files\CruiseControl.NET\server\config</workingDirectory>
      <username>build</username>
      <password>build</password>
      <autoGetSource>true</autoGetSource>
    </sourcecontrol>
  </project>
  <!-- 


    buildscripts
  -->
  <project name="buildscripts" queue="ccnet" queuePriority="5">
    <triggers>
      <intervalTrigger seconds="3" />
    </triggers>
    <category>infrastructure</category>
    <state type="state" directory="d:\cruisecontrol\state" />
    <workingDirectory>D:\CRUISECONTROL\working</workingDirectory>
    <artifactDirectory>D:\CRUISECONTROL\artifacts\buildscripts</artifactDirectory>
    <sourcecontrol type="svn">
      <trunkUrl>http://source.jenkon.com/svn/build</trunkUrl>
      <workingDirectory>E:\J6\build</workingDirectory>
      <username>build</username>
      <password>build</password>
      <autoGetSource>true</autoGetSource>
    </sourcecontrol>
  </project>
  <!-- 
  
  
  
    BSH_IH00002_6.0 
    
  -->
  <project name="BSH_IH00002_6.0 DEPLOY" queue="DEPLOY" queuePriority="5">
    <triggers>
      <scheduleTrigger time="01:43" />
    </triggers>
    <category>release</category>
    <state type="state" directory="D:\CRUISECONTROL\state" />
    <workingDirectory>D:\CRUISECONTROL\working</workingDirectory>
    <artifactDirectory>D:\CRUISECONTROL\artifacts\bsh_ih00002_6.0</artifactDirectory>
    <sourcecontrol type="svn">
      <trunkUrl>http://source.jenkon.com/svn/branches/releases/BodyShopUpgrade</trunkUrl>
      <workingDirectory>C:\Inetpub\wwwroot\Customer_Builds\BSH_IH00002_6.0</workingDirectory>
      <username>build</username>
      <password>build</password>
      <autoGetSource>false</autoGetSource>
    </sourcecontrol>
    <tasks>
      <FinalBuilder>
        <ProjectFile>C:\Inetpub\wwwroot\BuildScripts\BSH_IH00002_6.0.fbz4</ProjectFile>
      </FinalBuilder>
    </tasks>
  </project>
  <!-- 
  
  
  
    SJC 6.0.2 QA Deploy
    
  -->
  <project name="SJC 6.0.2 QA DEPLOY" queue="DEPLOY" queuePriority="5">
    <triggers>
      <scheduleTrigger time="02:23" />
    </triggers>
    <category>release</category>
    <state type="state" directory="D:\CRUISECONTROL\state" />
    <workingDirectory>D:\CRUISECONTROL\working</workingDirectory>
    <artifactDirectory>D:\CRUISECONTROL\artifacts\sjc_qa</artifactDirectory>
    <sourcecontrol type="svn">
      <trunkUrl>http://source.jenkon.com/svn/branches/releases/6.0.2</trunkUrl>
      <workingDirectory>C:\Inetpub\wwwroot\Customer_Builds\SJC_CUST041_6.0</workingDirectory>
      <username>build</username>
      <password>build</password>
      <autoGetSource>false</autoGetSource>
    </sourcecontrol>
    <tasks>
      <FinalBuilder>
        <ProjectFile>C:\Inetpub\wwwroot\BuildScripts\SJC_CUST041_6.0.fbz4</ProjectFile>
      </FinalBuilder>
    </tasks>
  </project>
  <!-- 
  
  
  
    ALR_CUST054-6.2
  -->
  <project name="ALR_CUST054_6.2 DEPLOY" queue="DEPLOY" queuePriority="5">
    <triggers>
      <scheduleTrigger time="02:20" />
    </triggers>
    <category>release</category>
    <state type="state" directory="D:\CRUISECONTROL\state" />
    <workingDirectory>D:\CRUISECONTROL\working</workingDirectory>
    <artifactDirectory>d:\cruisecontrol\artifacts\alr_cust054_6.2</artifactDirectory>
    <sourcecontrol type="svn">
      <trunkUrl>http://source.jenkon.com/svn/branches/releases/6.2</trunkUrl>
      <workingDirectory>C:\Inetpub\wwwroot\Customer_Builds\ALR_CUST054_6.2</workingDirectory>
      <username>build</username>
      <password>build</password>
      <autoGetSource>false</autoGetSource>
    </sourcecontrol>
    <tasks>
      <FinalBuilder>
        <ProjectFile>C:\Inetpub\wwwroot\BuildScripts\ALR_CUST054-6.2.fbp4</ProjectFile>
      </FinalBuilder>
    </tasks>
  </project>
  <!-- 
  
  
  
    IBI_CUST027-6.2
  -->
  <project name="IBI_CUST027-6.2 DEPLOY" queue="DEPLOY" queuePriority="5">
    <triggers>
      <scheduleTrigger time="02:01" />
    </triggers>
    <category>release</category>
    <state type="state" directory="D:\CRUISECONTROL\state" />
    <workingDirectory>D:\CRUISECONTROL\working</workingDirectory>
    <artifactDirectory>d:\cruisecontrol\artifacts\ibi_cust027_6.2</artifactDirectory>
    <sourcecontrol type="svn">
      <trunkUrl>http://source.jenkon.com/svn/branches/releases/6.2</trunkUrl>
      <workingDirectory>C:\Inetpub\wwwroot\Customer_Builds\IBI_CUST027_6.2</workingDirectory>
      <username>build</username>
      <password>build</password>
      <autoGetSource>false</autoGetSource>
    </sourcecontrol>
    <tasks>
      <FinalBuilder>
        <ProjectFile>C:\Inetpub\wwwroot\BuildScripts\IBI_CUST027-6.2.fbp4</ProjectFile>
      </FinalBuilder>
    </tasks>
  </project>
  <!-- 
  
  
  
    ITM_IH00001_6.4
  -->
  <project name="ITM_IH00001_6.4 DEPLOY" queue="DEPLOY" queuePriority="5">
    <triggers>
      <scheduleTrigger time="01:20" />
    </triggers>
    <category>release</category>
    <state type="state" directory="D:\CRUISECONTROL\state" />
    <workingDirectory>D:\CRUISECONTROL\working</workingDirectory>
    <artifactDirectory>d:\cruisecontrol\artifacts\itm_ih00001_6.4</artifactDirectory>
    <sourcecontrol type="svn">
      <trunkUrl>http://source.jenkon.com/svn/branches/releases/6.4</trunkUrl>
      <workingDirectory>C:\Inetpub\wwwroot\Customer_Builds\ITM_IH00001_6.4</workingDirectory>
      <username>build</username>
      <password>build</password>
      <autoGetSource>false</autoGetSource>
    </sourcecontrol>
    <tasks>
      <FinalBuilder>
        <ProjectFile>C:\Inetpub\wwwroot\BuildScripts\ITM_IH00001_6.4.fbz4</ProjectFile>
      </FinalBuilder>
    </tasks>
  </project>
  <!-- 
  
  
  
    TAG_IH00017_6.5.2
  -->
  <project name="TAG_IH00017_6.5.2 DEPLOY" queue="DEPLOY" queuePriority="5">
    <triggers>
      <scheduleTrigger time="01:50" />
    </triggers>
    <category>release</category>
    <state type="state" directory="D:\CRUISECONTROL\state" />
    <workingDirectory>D:\CRUISECONTROL\working</workingDirectory>
    <artifactDirectory>d:\cruisecontrol\artifacts\tag_ih00017_6.5.2</artifactDirectory>
    <sourcecontrol type="svn">
      <trunkUrl>http://source.jenkon.com/svn/branches/releases/6.5.2</trunkUrl>
      <workingDirectory>C:\Inetpub\wwwroot\Customer_Builds\TAG</workingDirectory>
      <username>build</username>
      <password>build</password>
      <autoGetSource>false</autoGetSource>
    </sourcecontrol>
    <tasks>
      <FinalBuilder>
        <ProjectFile>C:\Inetpub\wwwroot\BuildScripts\TAG_6.5.2.fbp4</ProjectFile>
      </FinalBuilder>
    </tasks>
  </project>
  <!-- vim:se ft=xml: -->
</cruisecontrol>
